/* text anti-aliasing */
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'kern' 1;
  -ms-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  -webkit-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

/* background color */
html {
  /* @apply font-inter; */
}

html {
}

/* Roboto Mono font face */
@font-face {
  font-family: 'Roboto Mono';
  src: url(/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Inter font face */
@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
