name: Build Documentation and Push to Build

on:
  push:
   branches:
    - master

jobs:
  build:
   runs-on: ubuntu-latest
   name: Build and Push
   steps:
    - name: git-checkout
      uses: actions/checkout@v2
      with:
        lfs: true
    
    - name: Install dependencies
      run: |
        npm install -g pnpm
        pnpm install
    
    - name: Build
      run: pnpm run build

    - name: Touch .nojeykll
      run: touch ./docs/dist/.nojekyll

    - name: Touch CNAME
      run: echo "docs-v2.sequence.xyz" > ./docs/dist/CNAME

    - name: Copy 404
      run: cp 404.html ./docs/dist/404.html
      
    - name: Push
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: build
        FOLDER: ./docs/dist
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MESSAGE: "Build: ({sha}) {msg}"
